apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: kube-system
  name: traefik-web-ui
  annotations:
    kubernetes.io/ingress.class: traefik
    ingress.kubernetes.io/auth-type: "basic"
    ingress.kubernetes.io/auth-secret: "traefik-basic-auth"
spec:
  rules:
  - host: traefik.{{ domain_name }}
    http:
      paths:
        - backend:
            serviceName: traefik-web-ui
            servicePort: 80
