apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-ingress-cfg
  namespace: kube-system
  labels:
    app: traefik-ingress-cfg
data:
    traefik.toml: |
        # traefik.toml
        defaultEntryPoints = ["http","https"]
        [web]
        address = ":8080"
        [entryPoints]
          [entryPoints.http]
          address = ":80"
          [entryPoints.http.redirect]
          entryPoint = "https"
          [entryPoints.https]
          address = ":443"
          [entryPoints.https.tls]
        [acme]
        email = "patrik.cyvoct@gmail.com"
        storage = "/acme/acme.json"
        entryPoint = "https"
        onDemand = true
        onHostRule = true
        [[acme.domains]]
        main = "ptrk.io"
        [acme.httpChallenge]
        entryPoint = "http"

