apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: kube-system
  name: kubernetes-dashboard
  annotations:
    # enable traefik for this ingress
    kubernetes.io/ingress.class: traefik
    ingress.kubernetes.io/auth-type: "basic"
    # name of the secret that contains the user/password definitions
    ingress.kubernetes.io/auth-secret: dashboard-basic-auth

spec:
  rules:
  - host: k8sdashboard.{{ domain_name }}
    http:
      paths:
      - path: /
        backend:
          serviceName: kubernetes-dashboard
          servicePort: 80
